
@font-face {
  font-family: 'CrackMan-Regular';
  src: url('CrackMan-Regular.eot?#iefix') format('embedded-opentype'),  url('CrackMan-Regular.woff') format('woff'), url('CrackMan-Regular.ttf')  format('truetype'), url('CrackMan-Regular.svg#CrackMan-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
